body{
    background-image: url(../IMG/house-9706056_1920.jpg);
    /* Chiều cao dòng */
    line-height: 150%;
}

/* h3{
    color: red;
    opacity: 10%;
    display: none;
    visibility: hidden;
} */

/* img{
    Thêm animation cho hình ảnh, thường chỉ dùng cho opacity
    transition: 1.5s;
} */

/* Nếu input được check thì ảnh sẽ biến mất */
/* input:checked ~ img{
    opacity: 0;
    display: none;
    visibility: hidden;
} */
/* thêm CSS cho toàn bộ thẻ trên trang web */
/* *{
    color: aqua;
    font-size: 30px;
} */
/* element.class */
/* chỉ tác động đến thẻ p nào có class là demo */
/* p.demo{
    color: darkblue;
    font-size: 30px;
    background-color: brown;
} */
/* thêm CSS cho thẻ p và thẻ có class là demo, nếu có thêm id thì chỉ cần ,#id là được */
/* p,.demo{
    color: red;
} */
/* chọn thẻ có tên class là đồng thời có cả 2 class demo và demo1 */
/* .demo.demo1{
    color: blueviolet;
} */
/* tác dụng lên tất cả thẻ p là con, cháu, chắt,... của div */
/* div p{
    color: brown;
    font-size: 30px;
} */
/* Tác dụng lên thẻ p là con của thẻ có class là cdiv */
/* .cdiv p{
    color: coral;
    font-size: 20px;
} */
/* Tác dụng lên tất cả thẻ p là con trực tiếp của thẻ div */
/* div > p{
    color: burlywood;
} */
/* element1 + element2: chọn phần tử element2 đầu tiền được đặt ngay sau phần tử element1
, có thể dùng sau class cũng được */
/* định dạng CSS thẻ p nằm ngay sau thẻ div */
/* div + p{
    color: red;
} */
/* định dạng thẻ h5 nằm ngay sau class demo2 */
/* .demo2 + h5{
    color: burlywood;
}
.demo.demo1 + div{
    font-size: 40px;
} */
/* element1~element2: chọn tất cả thẻ element2 nằm sau thẻ element1 mặc dù không nằm sát liền kề */
/* Attribute selectors */
/* [href]{
    color: red;
} */
/* nếu chỉ muốn tác động vào 1 loại thẻ có thuộc tính nào đó thì */
/* a[href]{
    color: red;
} */
/* Ta có thể nêu cụ thể ra thuộc tính có giá trị là gì để gắn CSS */
/* [target="_blank"]{
    color: pink;
} */
/* attribute~=value  chọn những thuộc tính có giá trị có từ chính xác trong dấu""*/
/* [title~="Hello"]{
    color: aqua;
} */
/* attribute*=value  chọn những thuộc tính có giá trị có từ trong dấu "" khớp với từ trong chuỗi */
/* [title*="Hello"]{
    color: blue;
} */
/* attribute|=value  chọn những thuộc tính có giá trị bắt đầu bằng value (nếu có thêm chuỗi phía sau phải được nối với nhau bằng dấu -) */
/* 19/08/2025 */
/* Thêm CSS cho các thẻ có class là top trừ thẻ p, dù thẻ p có class là top */
/* .top:not(p){
    background-color: blue;
} */
 /* 21/08/2025 */
 /* margin âm */
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid blue;
    margin-left: -70px;
}
.avatar:first-child{
    margin-left: 0;
}
.content{
    background-color: yellow;
    padding: 30px;
    /* hiển thị 1 phần quanh nội dung, không chiếm hết 1 dòng */
    display: inline-block;
}
p{
    /* độ dày của chữ */
    font-weight: 700;
    text-shadow: 0px -10px 3px #322f2f;
}
/* 27/11/2025 */
.box{
    width: 300px;
    height: 200px;
    background-color: aqua;
    /* Tự động hiện scroll khi tràn khung */
    overflow: auto;
    /* Điều chỉnh con lăn bên trong và bên ngoài theo yêu cầu */
    overscroll-behavior: auto;
}

/* Custom thanh scroll của trang, mã code nằm trong trang https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp*/
/* Chiều rộng của scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Hộp chứa scroll bar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Thanh cuốn */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Thao tác khi di chuột vào thanh scroll */
::-webkit-scrollbar-thumb:hover {
  background: #04fe00;
}
/* Lưu ý: nếu chỉ muốn custom thanh scroll nhỏ bên trong, thì chỉ cần thêm .box trước dấu :: là được.
Còn nếu không thêm thì mặc định chương trình sẽ hiểu cho tất cả (dấu *) */
h2{
    width: 300px;
    white-space: nowrap;
    background-color: greenyellow;
    /* ẩn nội dung thừa */
    overflow: hidden;
    /* tạo dấu ... trên 1 dòng*/
    text-overflow: ellipsis;
    /* Lưu ý: text-overflow phải kết hợp với overflow để tạo dấu ... */
}
/* Tạo dấu ... trên 2,3 dòng */
h3{
    background-color: aquamarine;
    overflow: hidden;
    /* Tạo dấu ... ở dòng thứ bao nhiêu, vd: 2 là 2 dòng */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}